# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
project.xcworkspace/
xcshareddata/
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.env
timeline.xctimeline
playground.xcworkspace

